<a href="https://colab.research.google.com/github/EmilyCharalambous/EmilyCharalambous.github.io/blob/main/Week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Arrays, vectors, `lists`  
Cell navigation: `Ctrl+Enter` runs the cell  
`Alt+Enter` runs and adds a new one below
`Shift+Etner` runs and steps into the next cell

In [ ]:
a = [2,4,3,"fdfd",[5,6]]

In [ ]:
a

[2, 4, 3, 'fdfd', [5, 6]]

In [ ]:
a[4][0]

5

This is a nice **comments**  
Dictionary, Object, Hash table

In [ ]:
b={'alfa':1,
'beta':27, 
'gamma':[0,1,2],
'delta':67.3,
'ninety-eight':{
    'a': 5, 
    'b':7}
   }

In [ ]:
b['ninety-eight']['a']

5

In [ ]:
b.keys(),b.values()

(dict_keys(['alfa', 'beta', 'gamma', 'delta', 'ninety-eight']),
 dict_values([1, 27, [0, 1, 2], 67.3, {'a': 5, 'b': 7}]))

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('GDP.csv')

In [ ]:
df.head(4)

      Year     GDP
0  1997 Q3  369141
1  1997 Q4  374512
2  1998 Q1  376761
3  1998 Q2  378766

In [ ]:
list ( df.T.to_dict().values() )

[{'Year': '1997 Q3', 'GDP': 369141},
 {'Year': '1997 Q4', 'GDP': 374512},
 {'Year': '1998 Q1', 'GDP': 376761},
 {'Year': '1998 Q2', 'GDP': 378766},
 {'Year': '1998 Q3', 'GDP': 379906},
 {'Year': '1998 Q4', 'GDP': 382282},
 {'Year': '1999 Q1', 'GDP': 385025},
 {'Year': '1999 Q2', 'GDP': 386581},
 {'Year': '1999 Q3', 'GDP': 393078},
 {'Year': '1999 Q4', 'GDP': 398776},
 {'Year': '2000 Q1', 'GDP': 403407},
 {'Year': '2000 Q2', 'GDP': 406049},
 {'Year': '2000 Q3', 'GDP': 408120},
 {'Year': '2000 Q4', 'GDP': 409871},
 {'Year': '2001 Q1', 'GDP': 413381},
 {'Year': '2001 Q2', 'GDP': 414894},
 {'Year': '2001 Q3', 'GDP': 416803},
 {'Year': '2001 Q4', 'GDP': 417480},
 {'Year': '2002 Q1', 'GDP': 418930},
 {'Year': '2002 Q2', 'GDP': 421133},
 {'Year': '2002 Q3', 'GDP': 424190},
 {'Year': '2002 Q4', 'GDP': 427745},
 {'Year': '2003 Q1', 'GDP': 430454},
 {'Year': '2003 Q2', 'GDP': 434140},
 {'Year': '2003 Q3', 'GDP': 438419},
 {'Year': '2003 Q4', 'GDP': 441827},
 {'Year': '2004 Q1', 'GDP': 443792},
 {'Year': '2004 Q2', 'GDP': 446140},
 {'Year': '2004 Q3', 'GDP': 447205},
 {'Year': '2004 Q4', 'GDP': 448619},
 {'Year': '2005 Q1', 'GDP': 451985},
 {'Year': '2005 Q2', 'GDP': 456263},
 {'Year': '2005 Q3', 'GDP': 460177},
 {'Year': '2005 Q4', 'GDP': 464981},
 {'Year': '2006 Q1', 'GDP': 466584},
 {'Year': '2006 Q2', 'GDP': 467684},
 {'Year': '2006 Q3', 'GDP': 468351},
 {'Year': '2006 Q4', 'GDP': 470396},
 {'Year': '2007 Q1', 'GDP': 475292},
 {'Year': '2007 Q2', 'GDP': 478424},
 {'Year': '2007 Q3', 'GDP': 482064},
 {'Year': '2007 Q4', 'GDP': 485249},
 {'Year': '2008 Q1', 'GDP': 487601},
 {'Year': '2008 Q2', 'GDP': 485278},
 {'Year': '2008 Q3', 'GDP': 477935},
 {'Year': '2008 Q4', 'GDP': 467250},
 {'Year': '2009 Q1', 'GDP': 458181},
 {'Year': '2009 Q2', 'GDP': 456867},
 {'Year': '2009 Q3', 'GDP': 457471},
 {'Year': '2009 Q4', 'GDP': 459031},
 {'Year': '2010 Q1', 'GDP': 463391},
 {'Year': '2010 Q2', 'GDP': 468691},
 {'Year': '2010 Q3', 'GDP': 471664},
 {'Year': '2010 Q4', 'GDP': 472312},
 {'Year': '2011 Q1', 'GDP': 473510},
 {'Year': '2011 Q2', 'GDP': 473773},
 {'Year': '2011 Q3', 'GDP': 474501},
 {'Year': '2011 Q4', 'GDP': 474303},
 {'Year': '2012 Q1', 'GDP': 478242},
 {'Year': '2012 Q2', 'GDP': 477974},
 {'Year': '2012 Q3', 'GDP': 483913},
 {'Year': '2012 Q4', 'GDP': 483422},
 {'Year': '2013 Q1', 'GDP': 484555},
 {'Year': '2013 Q2', 'GDP': 487845},
 {'Year': '2013 Q3', 'GDP': 491499},
 {'Year': '2013 Q4', 'GDP': 494658},
 {'Year': '2014 Q1', 'GDP': 499294},
 {'Year': '2014 Q2', 'GDP': 503659},
 {'Year': '2014 Q3', 'GDP': 507485},
 {'Year': '2014 Q4', 'GDP': 510787},
 {'Year': '2015 Q1', 'GDP': 512895},
 {'Year': '2015 Q2', 'GDP': 516141},
 {'Year': '2015 Q3', 'GDP': 518365},
 {'Year': '2015 Q4', 'GDP': 522194},
 {'Year': '2016 Q1', 'GDP': 524102},
 {'Year': '2016 Q2', 'GDP': 527401},
 {'Year': '2016 Q3', 'GDP': 529730},
 {'Year': '2016 Q4', 'GDP': 533173},
 {'Year': '2017 Q1', 'GDP': 537114},
 {'Year': '2017 Q2', 'GDP': 539994},
 {'Year': '2017 Q3', 'GDP': 542780},
 {'Year': '2017 Q4', 'GDP': 546185},
 {'Year': '2018 Q1', 'GDP': 547003},
 {'Year': '2018 Q2', 'GDP': 549491},
 {'Year': '2018 Q3', 'GDP': 552545},
 {'Year': '2018 Q4', 'GDP': 553966},
 {'Year': '2019 Q1', 'GDP': 557458},
 {'Year': '2019 Q2', 'GDP': 558071},
 {'Year': '2019 Q3', 'GDP': 561480},
 {'Year': '2019 Q4', 'GDP': 561339},
 {'Year': '2020 Q1', 'GDP': 546515},
 {'Year': '2020 Q2', 'GDP': 431794},
 {'Year': '2020 Q3', 'GDP': 503509},
 {'Year': '2020 Q4', 'GDP': 509621},
 {'Year': '2021 Q1', 'GDP': 503663},
 {'Year': '2021 Q2', 'GDP': 536608},
 {'Year': '2021 Q3', 'GDP': 546084},
 {'Year': '2021 Q4', 'GDP': 554938},
 {'Year': '2022 Q1', 'GDP': 558776},
 {'Year': '2022 Q2', 'GDP': 560089}]

In [ ]:
exported_values = list( df.T.to_dict().values() )

In [ ]:
import json

In [ ]:
open('my_first_json_file.json', 'w').write( json.dumps(exported_values) )

3600