<a href="https://colab.research.google.com/github/EmilyCharalambous/EmilyCharalambous.github.io/blob/main/Wk3Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is a nice **comments**

Arrays, vectors, lists

In [ ]:
a[4][0]

5

Dictionary, Object, Hash Table

In [ ]:
b={'alfa':1,
   'beta':27,
   'gamma':[0,1,2],
   'delta':'67.3',
   '98':{'a':5,
         'b':7}}
b['gamma']['98']

TypeError: ignored

In [ ]:
b['delta']

'67.3'

In [ ]:
b['98']

{'a': 5, 'b': 7}

In [ ]:
b.keys(), b.values()

(dict_keys(['alfa', 'beta', 'gamma', 'delta', '98']),
 dict_values([1, 27, [0, 1, 2], '67.3', {'a': 5, 'b': 7}]))

In [ ]:
a = [2,3,4, 'fdfd', [5,6]]
a

[2, 3, 4, 'fdfd', [5, 6]]

In [ ]:
import pandas as pd

In [ ]:
df

    Population growth   Year
0             0.760460   1961
1             0.848661   1962
2             0.748366   1963
3             0.650258   1964
4             0.642469   1965
..                 ...    ...
56            0.679374   2017
57            0.605929   2018
58            0.564131   2019
59            0.365409   2020
60            0.365410   2021

[61 rows x 2 columns]

In [ ]:
df = pd.read_csv('population_growth.csv')

In [ ]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
Population growth,0.76046,0.848661,0.748366,0.650258,0.642469,0.551303,0.538544,0.486768,0.415803,0.398722,...,0.695353,0.669741,0.736464,0.792368,0.757874,0.679374,0.605929,0.564131,0.365409,0.36541
Year,1961.00000,1962.000000,1963.000000,1964.000000,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,...,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.00000

In [ ]:
exported_values = list(df.T.to_dict().values())

In [ ]:
import json

In [ ]:
open('my_first_json_file.json','w').write(json.dumps(exported_values))

3290

In [ ]:
json.dumps(exported_values)

'[{"Population growth ": 0.760459939, "Year ": 1961.0}, {"Population growth ": 0.848661388, "Year ": 1962.0}, {"Population growth ": 0.748366449, "Year ": 1963.0}, {"Population growth ": 0.650257749, "Year ": 1964.0}, {"Population growth ": 0.642468779, "Year ": 1965.0}, {"Population growth ": 0.551303249, "Year ": 1966.0}, {"Population growth ": 0.53854377, "Year ": 1967.0}, {"Population growth ": 0.48676828, "Year ": 1968.0}, {"Population growth ": 0.415803269, "Year ": 1969.0}, {"Population growth ": 0.398722458, "Year ": 1970.0}, {"Population growth ": 0.417666617, "Year ": 1971.0}, {"Population growth ": 0.339057516, "Year ": 1972.0}, {"Population growth ": 0.193198186, "Year ": 1973.0}, {"Population growth ": 0.06305921, "Year ": 1974.0}, {"Population growth ": -0.007423363, "Year ": 1975.0}, {"Population growth ": -0.024603833, "Year ": 1976.0}, {"Population growth ": -0.032873848, "Year ": 1977.0}, {"Population growth ": 0.005359908, "Year ": 1978.0}, {"Population growth ": 0.089728661, "Year ": 1979.0}, {"Population growth ": 0.119517254, "Year ": 1980.0}, {"Population growth ": 0.034821732, "Year ": 1981.0}, {"Population growth ": -0.035842794, "Year ": 1982.0}, {"Population growth ": 0.034101374, "Year ": 1983.0}, {"Population growth ": 0.158261863, "Year ": 1984.0}, {"Population growth ": 0.226951225, "Year ": 1985.0}, {"Population growth ": 0.23161023, "Year ": 1986.0}, {"Population growth ": 0.212637261, "Year ": 1987.0}, {"Population growth ": 0.222063894, "Year ": 1988.0}, {"Population growth ": 0.26031145, "Year ": 1989.0}, {"Population growth ": 0.298930554, "Year ": 1990.0}, {"Population growth ": 0.309247932, "Year ": 1991.0}, {"Population growth ": 0.270431182, "Year ": 1992.0}, {"Population growth ": 0.239745439, "Year ": 1993.0}, {"Population growth ": 0.254586487, "Year ": 1994.0}, {"Population growth ": 0.264547417, "Year ": 1995.0}, {"Population growth ": 0.254626384, "Year ": 1996.0}, {"Population growth ": 0.257553323, "Year ": 1997.0}, {"Population growth ": 0.291406085, "Year ": 1998.0}, {"Population growth ": 0.333405882, "Year ": 1999.0}, {"Population growth ": 0.357300887, "Year ": 2000.0}, {"Population growth ": 0.38497597, "Year ": 2001.0}, {"Population growth ": 0.42333708, "Year ": 2002.0}, {"Population growth ": 0.465641114, "Year ": 2003.0}, {"Population growth ": 0.568943113, "Year ": 2004.0}, {"Population growth ": 0.686611306, "Year ": 2005.0}, {"Population growth ": 0.735048678, "Year ": 2006.0}, {"Population growth ": 0.778666112, "Year ": 2007.0}, {"Population growth ": 0.787032622, "Year ": 2008.0}, {"Population growth ": 0.75639086, "Year ": 2009.0}, {"Population growth ": 0.783888647, "Year ": 2010.0}, {"Population growth ": 0.781506562, "Year ": 2011.0}, {"Population growth ": 0.695353132, "Year ": 2012.0}, {"Population growth ": 0.669740536, "Year ": 2013.0}, {"Population growth ": 0.736463979, "Year ": 2014.0}, {"Population growth ": 0.792367506, "Year ": 2015.0}, {"Population growth ": 0.757874493, "Year ": 2016.0}, {"Population growth ": 0.679374474, "Year ": 2017.0}, {"Population growth ": 0.605929132, "Year ": 2018.0}, {"Population growth ": 0.564131113, "Year ": 2019.0}, {"Population growth ": 0.365409432, "Year ": 2020.0}, {"Population growth ": 0.365409887, "Year ": 2021.0}]'

In [ ]:
df = pd.read_csv('daily_yields.csv')

In [ ]:
df

         Maturity     Yield
0      2022-07-09  2.154360
1      2022-07-10  2.173819
2      2022-07-11  2.193279
3      2022-07-12  2.212738
4      2022-07-13  2.212870
...           ...       ...
12052  2055-07-08  2.708316
12053  2055-07-09  2.706640
12054  2055-07-10  2.704965
12055  2055-07-11  2.703290
12056  2055-07-12  2.701615

[12057 rows x 2 columns]

Traspose operation

In [ ]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
Population growth,0.76046,0.848661,0.748366,0.650258,0.642469,0.551303,0.538544,0.486768,0.415803,0.398722,...,0.695353,0.669741,0.736464,0.792368,0.757874,0.679374,0.605929,0.564131,0.365409,0.36541
Year,1961.00000,1962.000000,1963.000000,1964.000000,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,...,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.00000

Cell navigation: Ctrl + Enter runs the cell 
Alt+Enter runs and adds a new one below Shift+Enter runs the steps into the next cell

In [ ]:
df.head(4)

   Population growth   Year
0            0.760460   1961
1            0.848661   1962
2            0.748366   1963
3            0.650258   1964

In [ ]:
exported_values = list(df.T.to_dict().values())

In [ ]:
import json

In [ ]:
# json.dumps(exported_values)

In [ ]:
open('my_first_json_file.json','w').write(json.dumps(exported_values))

3290

In [ ]:
exported_values

[{'Population growth ': 0.760459939, 'Year ': 1961.0},
 {'Population growth ': 0.848661388, 'Year ': 1962.0},
 {'Population growth ': 0.748366449, 'Year ': 1963.0},
 {'Population growth ': 0.650257749, 'Year ': 1964.0},
 {'Population growth ': 0.642468779, 'Year ': 1965.0},
 {'Population growth ': 0.551303249, 'Year ': 1966.0},
 {'Population growth ': 0.53854377, 'Year ': 1967.0},
 {'Population growth ': 0.48676828, 'Year ': 1968.0},
 {'Population growth ': 0.415803269, 'Year ': 1969.0},
 {'Population growth ': 0.398722458, 'Year ': 1970.0},
 {'Population growth ': 0.417666617, 'Year ': 1971.0},
 {'Population growth ': 0.339057516, 'Year ': 1972.0},
 {'Population growth ': 0.193198186, 'Year ': 1973.0},
 {'Population growth ': 0.06305921, 'Year ': 1974.0},
 {'Population growth ': -0.007423363, 'Year ': 1975.0},
 {'Population growth ': -0.024603833, 'Year ': 1976.0},
 {'Population growth ': -0.032873848, 'Year ': 1977.0},
 {'Population growth ': 0.005359908, 'Year ': 1978.0},
 {'Population growth ': 0.089728661, 'Year ': 1979.0},
 {'Population growth ': 0.119517254, 'Year ': 1980.0},
 {'Population growth ': 0.034821732, 'Year ': 1981.0},
 {'Population growth ': -0.035842794, 'Year ': 1982.0},
 {'Population growth ': 0.034101374, 'Year ': 1983.0},
 {'Population growth ': 0.158261863, 'Year ': 1984.0},
 {'Population growth ': 0.226951225, 'Year ': 1985.0},
 {'Population growth ': 0.23161023, 'Year ': 1986.0},
 {'Population growth ': 0.212637261, 'Year ': 1987.0},
 {'Population growth ': 0.222063894, 'Year ': 1988.0},
 {'Population growth ': 0.26031145, 'Year ': 1989.0},
 {'Population growth ': 0.298930554, 'Year ': 1990.0},
 {'Population growth ': 0.309247932, 'Year ': 1991.0},
 {'Population growth ': 0.270431182, 'Year ': 1992.0},
 {'Population growth ': 0.239745439, 'Year ': 1993.0},
 {'Population growth ': 0.254586487, 'Year ': 1994.0},
 {'Population growth ': 0.264547417, 'Year ': 1995.0},
 {'Population growth ': 0.254626384, 'Year ': 1996.0},
 {'Population growth ': 0.257553323, 'Year ': 1997.0},
 {'Population growth ': 0.291406085, 'Year ': 1998.0},
 {'Population growth ': 0.333405882, 'Year ': 1999.0},
 {'Population growth ': 0.357300887, 'Year ': 2000.0},
 {'Population growth ': 0.38497597, 'Year ': 2001.0},
 {'Population growth ': 0.42333708, 'Year ': 2002.0},
 {'Population growth ': 0.465641114, 'Year ': 2003.0},
 {'Population growth ': 0.568943113, 'Year ': 2004.0},
 {'Population growth ': 0.686611306, 'Year ': 2005.0},
 {'Population growth ': 0.735048678, 'Year ': 2006.0},
 {'Population growth ': 0.778666112, 'Year ': 2007.0},
 {'Population growth ': 0.787032622, 'Year ': 2008.0},
 {'Population growth ': 0.75639086, 'Year ': 2009.0},
 {'Population growth ': 0.783888647, 'Year ': 2010.0},
 {'Population growth ': 0.781506562, 'Year ': 2011.0},
 {'Population growth ': 0.695353132, 'Year ': 2012.0},
 {'Population growth ': 0.669740536, 'Year ': 2013.0},
 {'Population growth ': 0.736463979, 'Year ': 2014.0},
 {'Population growth ': 0.792367506, 'Year ': 2015.0},
 {'Population growth ': 0.757874493, 'Year ': 2016.0},
 {'Population growth ': 0.679374474, 'Year ': 2017.0},
 {'Population growth ': 0.605929132, 'Year ': 2018.0},
 {'Population growth ': 0.564131113, 'Year ': 2019.0},
 {'Population growth ': 0.365409432, 'Year ': 2020.0},
 {'Population growth ': 0.365409887, 'Year ': 2021.0}]